<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="dist/font-awesome/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/Application_Admin.css">
    <link rel="stylesheet" href="~/css/Application_white.css">

    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery v3.3.1 -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap v4.4.1 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- App Main JS -->
    <script src="~/js/Application_main.js"></script>

</head>

<body class="hold-transition theme-white sidebar-collapse sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="dist/img/logo-small.png" alt="" height="23"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="dist/img/logo-big.png" alt="" height="23"></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account Menu -->
                        <li class="user-info">
                            <img src="dist/img/user.png" class="user-image" alt="">
                        </li>
                        <li class="user-info">
                            <a href="#">
                            <span class="welcome">Welcome</span> <br><span class="">John Wick</span> 
                            </a>

                        </li>
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="user-menu dropdown-menu ">
                                <li>
                                    <a href="#"><i class="fa fa-user-o"></i> My Profile</a>
                                </li>
                                <li>
                                    <a href="login.html"><i class="fa fa-gear"></i> Settings</a>
                                </li>
                                <li>
                                    <a href="login.html"><i class="fa fa-sign-out"></i> Sign out</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="display:block;">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree" style="display:block;">
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Home</span></a></li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Dashboard</h1>
            </section>

            <section class="content container-fluid">

                <div class="row">
                    <div class="col-md-9">
                        <div class="box user-content">
                            <div class="table-responsive text-nowrap">
                                <!--Table-->
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box user-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>

                        </div>

                    </div>
                </div>



            </section>
        </div>
        <!-- /.content -->
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <span class="">©
            <script type="text/javascript">var today = new Date; document.write(today.getFullYear());</script> Abc. All rights reserved.</span>

        </footer>
    </div>

    <!-- /. Main Footer -->
    @*</div>*@

</body>
</html>