<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/stylesheet.css" rel="stylesheet" />


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <title>Application Form</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-2 logo">Logo</div>
                <div class="col-8 banner">Banner</div>
                <div class="col-2 greybg"><a href="#">Welcome</a><br><a href="#">Logout</a></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-2 mt-4">

                    <ul class="nav flex-column sidenav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">> PPAT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">> PIG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">> SS</a>
                        </li>
                    </ul>

                </div>
                <div class="col-10 mt-4">

                    <div class="row mb-3 ">

                        <div class="col-sm-5"><label for="formControlInput1" class=" col-form-label"><h2>Measure Application </h2></label></div>
                        <div class="col-sm-1"><h2>:</h2></div>
                        <div class="col-sm-6 mt-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Selects</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="border p-3">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">State</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AP">AP</option>
                                    <option value="TN">TN</option>
                                    <option value="TN">TN</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Parliament</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AA">AA</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Assembly</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AA">AA</option>
                                </select>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Mandal</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AP">AP</option>
                                    <option value="TN">TN</option>
                                    <option value="TN">TN</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Village</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AA">AA</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">PS Code</label>
                                <input type="text" class="form-control" id="pscode" placeholder="Auto Populate">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">PS Name</label>
                                <input type="text" class="form-control" id="pscode" placeholder="">
                            </div>

                        </div>
                    </div>
                    <div class="border p-3 mt-4">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="pscode" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Age</label>
                                <input type="text" class="form-control" id="pscode" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Gender</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Mobile</label>
                                <input type="text" class="form-control" id="pscode" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Occupation</label>
                                <input type="text" class="form-control" id="pscode" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Education</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="Graduation">Graduation</option>
                                    <option value="PG">PG</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Community</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="OC">OC</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Sub-Caste</label>
                                <input type="text" class="form-control" id="pscode" placeholder="Auto Populate">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">IF</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AA">AA</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">SF</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="OC">SF</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">PRF</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AA">VPF</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">VPF</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="AA">VPF</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">PIF</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="PIF">PIF</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlInput1" class="form-label">Remarks</label>
                                <input type="text" class="form-control" id="pscode" placeholder="">
                            </div>

                        </div>

                        <div class="row ">
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary mb-3">Preview</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary mb-3">Save</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary mb-3">Clear</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>



</body>
</html>