@*@using Cloud.PPATSApp.Core;
    @using Cloud.PPATSApp.Models.ViewModels;
    @{
        var objEmployeeInfo = TempDataExtensions.Get<EmployeeInfoViewModel>(TempData, "empInfo") as EmployeeInfoViewModel;
    }*@
@{
    ViewData["Title"] = "AdminConfig";
}
@model Cloud.PPATSApp.Models.ViewModels.EmployeeInfoViewModel
<h1>AdminConfig</h1>
@{
    Html.RenderPartial("_EmployeeInfo", Model);//With out passing also worknigs
}


@*@Html.Partial("_EmployeeInfo");*@